.w{
    width: 1200px;
    margin: 0 auto;
}
.w header{
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.loge {
    padding-top: 18px;
}
.registerarea{
    height: 512px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3{
   
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #cecece;
line-height: 42px;
padding: 0 10px;
font-size: 18px;

}
.login{
    float: right;
    font-size: 14px;
    font-weight: normal;
}
.login a{
    color: #c81523;
}
.ref_form{
    width: 600px;
    margin: 50px auto 0;
}
.ref_form ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
}
.ref_form ul li{
    margin-bottom: 20px;
}
.ref_form ul li .input{
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.error{
    color: #c81523;
}
.error_icon
,.success_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #c81523;
    border-radius: 10px;
    color: #fff;
    line-height: 20px;
    text-indent: 6px;
}
.success{
    color: green;
}
.success_icon{
    background-color:green;
    border-radius: 10px;

}
.safe {
    padding-left:170px ;
}
.safe em {
    padding: 0 12px;
    background-color:#c81523 ;
    color:#fff;
}
.safe em:nth-of-type(2){
background-color:green ;
}
.safe em:nth-of-type(3){
    background-color: gold;
} 
.agree input{
    vertical-align: middle;
    margin-left: 90px;
}
.sub{
    width: 200px;
    height: 34px;
    background-color: #c81523;
    color: #fff;
    margin-left: 115px;
}
.mod_copyright{
    text-align:center;
    padding-top: 20px;
}
.links{
    padding-bottom: 15px;
}
.links a{
    margin: 0 5px;
}
.copyright{
    line-height: 20px;
}